#root {
  height: 100%;
}
html,
body {
  height: 100%;
  padding: 0;
  margin: 0;
}
* {
  box-sizing: border-box;
}
@font-face {
  font-family: IRANSans;
  font-style: normal;
  font-weight: 900;
  src: url("../fonts/IRANSansWeb(FaNum)_Black.woff2") format("woff2");
}

@font-face {
  font-family: IRANSans;
  font-style: normal;
  font-weight: bold;
  src: url("../fonts/IRANSansWeb(FaNum)_Bold.woff2") format("woff2");
}

@font-face {
  font-family: IRANSans;
  font-style: normal;
  font-weight: 500;
  src: url("../fonts/IRANSansWeb(FaNum)_Medium.woff2") format("woff2");
}

@font-face {
  font-family: IRANSans;
  font-style: normal;
  font-weight: 300;
  src: url("../fonts/IRANSansWeb(FaNum)_Light.woff2") format("woff2");
}

@font-face {
  font-family: IRANSans;
  font-style: normal;
  font-weight: normal;
  src: url("../fonts/IRANSansWeb(FaNum).woff2") format("woff2");
}

body {
  font-family: IRANSans !important;
  font-weight: 300;
}

.en {
  font-family: IRANSansEn !important;
}

.link-to-content {
  cursor: pointer;
  color: blue;
  text-decoration: underline;
}
